body {
    background-color: rgb(22, 25, 51);
    color: black;
  }
nav{
    background-color: rgb(0, 0, 0);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    
}
h1{
    color: rgb(70, 170, 209);
    font-size: 45px;
    font-family: arial;
    
}
ul li{
display: inline-block;
padding: 0px 20px;
font-family: arial;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: aqua;
}

div{
    color: white;
    font-family: arial;
    margin: 0px 20px 30px 40px; /* Márgenes superior (0px), derecho (20px), inferior (30px) e izquierdo (40px) */
}
h4{
    color: rgb(155, 250, 218);
}
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: arial;
   /* Estilos para el pie de página */
    background-color: #000000; /* Cambia el color de fondo aquí */
    color: #22589e; /* Cambia el color del texto para que contraste con el fondo */
    padding: 10px; /* Espacio interno alrededor del contenido */
    text-align: center; /* Centra el texto */
    position: relative;
    bottom: 0;
    width: 100%;
    

}
